In [1]:
import pandas as pd

In [ ]:
dataset_name = 'ocde_gee_agro'
raiz = '../database'

### Prata

Emissões de gases de efeito estufa (GEE) da agricultura

Unidade: Toneladas de CO2 equivalente

In [9]:
df = (pd.read_excel(f'{raiz}/GEE agricultura OCDE.xlsx',
               header=3, # Linha do cabeçalho da tabela
               skiprows=lambda linha: linha in [4, 59, 60, 61, 62, 63], # Linhas da tabela a serem ignoradas, se sobrepondo ao header
               na_values='..'
               )
 .drop('Unnamed: 1', axis = 1)
 .rename(columns={'Time': 'pais'})
 .melt(
     id_vars='pais',
     var_name='ano',
     value_name='valor_ton'
     )
 .dropna(subset='valor_ton')
 .assign(**{
     'origem': 'OCDE',
     'indicador': 'GEE',
     'ano': lambda col: col['ano'].astype(int)
     })
 .sort_values(by=['ano','valor_ton'],
              ascending = [True, False]) # Organização dos dados a partir das duas colunas destacadas
 .set_index(['indicador', 'pais', 'ano', 'origem'])
 )

In [ ]:
if df.index.is_unique is True:
    df.to_parquet(xxx)
else:
    print('Há índices não-únicos nesta tabela. Favor verificar.')

In [14]:
df

                                                       valor_ton
indicador pais                           ano  origem
GEE         India                        1985 OCDE    563956.084
            China (People's Republic of) 1985 OCDE    515532.419
            Brazil                       1985 OCDE    307519.082
            Indonesia                    1985 OCDE     99880.850
            Philippines                  1985 OCDE     46988.916
...                                                          ...
          Estonia                        2021 OCDE      1583.940
          Luxembourg                     2021 OCDE       697.346
          Iceland                        2021 OCDE       620.071
            Cyprus                       2021 OCDE       557.252
            Malta                        2021 OCDE        87.709

[1730 rows x 1 columns]