In [2]:
import pandas as pd

In [ ]:
dataset_name = 'ocde_amonia'
raiz = '../repositorio'

### Prata

Emissões de Amônia (NH3) da agricultura

Unidade: Tonelada

In [99]:
df = (pd.read_excel(f'{raiz}/EMISSOES AMONIA OCDE.xlsx',
               header=3, # Linha do cabeçalho da tabela
               skiprows=lambda linha: linha in [4, 50], # Linhas da tabela a serem ignoradas, se sobrepondo ao header
               na_values='..'
               )
 .drop('Unnamed: 1', axis = 1)
 .rename(columns={'Time': 'pais'})
 .melt(
     id_vars='pais',
     var_name='ano',
     value_name='valor_ton'
     )
 .dropna(subset='valor_ton')
 .assign(**{
     'origem': 'OCDE',
     'indicador': 'NH3',
     'ano': lambda col: col['ano'].astype(int)
     })
 .sort_values(by=['ano','valor_ton'],
              ascending = [True, False]) # Organização dos dados
 .set_index(['indicador', 'pais', 'ano', 'origem'])
 )

In [97]:
if df.index.is_unique is True:
    df.to_parquet(xxx)
else:
    print('Há índices não-únicos nesta tabela. Favor verificar.')

Há índices não-únicos nesta tabela. Favor verificar.

In [100]:
df

                                       valor_ton
indicador pais          ano  origem
NH3       United States 1990 OCDE    3381000.000
          Brazil        1990 OCDE    2275770.410
          Germany       1990 OCDE     687785.126
          France        1990 OCDE     627896.630
          Ukraine       1990 OCDE     623601.000
...                                          ...
          Cyprus        2020 OCDE       8030.886
          Luxembourg    2020 OCDE       5691.252
          Iceland       2020 OCDE       4342.121
          Malta         2020 OCDE       1318.669
          Israel        2021 OCDE      17700.380

[1242 rows x 1 columns]