In [1]:
import pandas as pd

In [ ]:
dataset_name = 'ocde_area_agricola'
raiz = '../repositorio'

### Prata

Área agrícola total (Culturas + Pastagens)

Unidade: Mil hectares

In [9]:
df = (pd.read_excel(f'{raiz}/Area agricola_ mil hectares OCDE.xlsx',
               header=4, # Linha do cabeçalho da tabela
               skiprows=lambda linha: linha in [5, 60, 61], # Linhas da tabela a serem ignoradas, se sobrepondo ao header
               na_values='..'
               )
 .rename(columns={'Ano': 'pais'})
 .melt(
     id_vars='pais',
     var_name='ano',
     value_name='area_mil_ha'
     )
 .dropna(subset='area_mil_ha')
 .assign(**{
     'origem': 'OCDE',
     'indicador': 'Área Agrícola',
     'ano': lambda col: col['ano'].astype(int)
     })
 .sort_values(by=['ano','area_mil_ha'],
              ascending = [True, False]) # Organização dos dados
 .set_index(['indicador', 'pais', 'ano', 'origem'])
 )

In [97]:
if df.index.is_unique is True:
    df.to_parquet(xxx)
else:
    print('Há índices não-únicos nesta tabela. Favor verificar.')

Há índices não-únicos nesta tabela. Favor verificar.

In [11]:
df

                                                        area_mil_ha
indicador     pais                         ano  origem
Área Agrícola China (People's Republic of) 1990 OCDE     512271.000
              Australia                    1990 OCDE     464026.542
              United States                1990 OCDE     426948.000
              Brazil                       1990 OCDE     233480.200
              India                        1990 OCDE     181586.000
...                                                             ...
              Belgium                      2021 OCDE       1368.310
              Estonia                      2021 OCDE        986.670
              Slovenia                     2021 OCDE        479.490
              Israel                       2021 OCDE        289.094
              Luxembourg                   2021 OCDE        132.810

[1638 rows x 1 columns]